RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^.*$ /castpdev/index.html [L,QSA]
RedirectMatch 301 \/castp\/data\/pdb\/(.*)\/tmp\/(.*)$ $1\/$2